.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;

}
.bash {
    font-family: 'Ubuntu Mono', monospace;
    background-color: black;
    color: white;
    position: absolute;
    white-space: pre-wrap;
    width: 100%;
}
body {
    overflow:hidden;
    margin: 0 auto;
    height: 100%;
}
html {
    height:100%;
}
.inputbox {
    background-color: black;
    border: none;
    outline: none;
    color: white;
    font-family: monospace;

}
.inputbox:focus {
    outline:none;
}
.userandmachine {
    color: #7be234;
    font-weight: bold;
}
.workingdirectory {
    color: #5e9ccf;
    font-weight: bold;
}
